#main_toolbar, #main_toolbar button
{
	font-family: "Istok Web";
}

#main_toolbar
{
	padding: 36px 24px;
}

form.inline
{
	display: inline;
}

#form_search
{
	float: left;
	margin-left: 12px;
}

#form_search input, #form_search button
{
	height: 37px;
}

#form_search input
{
	margin-left: 12px;
	font-size: 16px;
	padding: 7px 14px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	width: 290px;
}

#form_search button
{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.group-first, .group-middle
{
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.group-middle, .group-last
{
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}

#main_toolbar a.add
{
	float: left;
}

.pure-button
{
	padding: 7px 14px;
}

.pure-button.shadow
{
	text-shadow: 1px 1px 1px #424242;
	-webkit-text-shadow: 1px 1px 1px #424242;
	-moz-text-shadow: 1px 1px 2px #424242;
	-o-text-shadow: 1px 1px 1px #424242;
	-ms-text-shadow: 1px 1px 1px #424242;
}

.pure-button.add
{
	background-color: #15BA31;
	color: white;
}

.pure-button.okay
{
	background-color: #148C29;
	color: white;
}

.pure-button.search
{
	background-color: #152DBA;
	color: white;
}

.pure-button i
{
	margin-right: 8px;
	position: relative;
	top: 1px;
}

.element-group
{
	display: block;
	float: left;
}

.element-group *
{
	float: left;
}

h1.form
{
	font-size: 16px;
	margin-top: 0px;
	margin-bottom: 6px;
}

.form-block
{
	margin-bottom: 5px;
}

.pure-form label
{
	font-size: 95%;
	margin-left: 1px;
}

div.label
{
	padding-top: 4px;
}

div.formfield, div.property
{
	margin-bottom: 1px;
}

textarea
{
	height: 90px;
}

.toolbarwindow-contents
{
	position: absolute;
	padding: 7px;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 38px;
	overflow-x: hidden;
	overflow-y: auto;
}

.toolbarwindow-toolbar
{
	position: absolute;
	padding: 4px;
	height: 30px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	text-align: right;
}

i.required
{
	font-size: 10px;
	margin-left: 4px;
	color: rgb(159,68,74);
	float: right;
	margin-right: 7px;
	margin-top: 2px;
}

i.error, i.notification
{
	font-size: 19px;
	margin-right: 9px !important;
}

i.error
{
	color: #FFD2D2;
}

i.notification
{
	color: #CBCAFF;
}

#notification_area
{
	position: absolute;
	right: 0px;
	bottom: 32px;
	z-index: 2147483640;
}

.notification-header
{
	margin-right: 6px;
	font-weight: bold;
}

.notification-popup, .error-popup
{
	text-align: right;
}

.notification-popup .notification-contents, .error-popup .notification-contents
{
	text-align: left;
	display: inline-block;
	border-radius: 6px;
	margin-right: 19px;
	margin-top: 10px;
	padding: 9px 14px;
	color: white;
	font-size: 15px;
	filter: alpha(opacity=85);
	opacity: 0.85;
	width: auto;
}

.notification-popup .notification-contents
{
	background-color: #2D2D2D;
}

.error-popup .notification-contents
{
	background-color: #371B1B;
}

.notification-popup ul, .error-popup ul
{
	margin: 4px 0px;
	padding-left: 48px;
}
